




.thumbnail {
    position: relative;
}

.caption {
  position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      top: 50%;

      -webkit-transform: translateY(-50%);

              transform: translateY(-50%);
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
}

.caption h4 {
  width: 90%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.feature-heading h5 {
  color: #3A3A3A;



}



.feature-single .thumbnail img {
  border-radius: 50%;
width: 230px;
height: 230px;
}



.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}



.hovered .thumbnail  {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
          -webkit-transition: 0.7s ease;
                transition: 0.7s ease;
}






.hovered .feature-single-info  {
    display: block;
    -webkit-transition: 0.7s ease;
          transition: 0.7s ease;

}

.feature-single-info {
  display: none;
  -webkit-transition: 0.7s ease;
        transition: 0.7s ease;
}

#faq-con {
  margin-bottom: 200px;
}


/* Responsiv */

@media screen and (max-width: 780px) {
  .caption h4 {
    width: 40%;

}
}
