




.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.feature-single .thumbnail img {
  border-radius: 50%;
width: 250px;
height: 250px;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-bg span {
  width: 120px;
    background: #FCB123;
    height: 5px;
    display: block;
    margin-bottom: 10px;
}
