#nav-container{
  padding:25px 25px 25px 25px;
}

#nav-left{
  float: left;
}

#nav-right{
  float: right;
}
.navbar-nav > li {
    float: left;
    padding: 15px;
}

.navbar{
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

#main-navigation{
  -webkit-box-shadow: 1px 1px 6px 3px #ccc;
  box-shadow: 1px 1px 6px 3px #ccc;
  background-color: #ffffff;
}


.menu-item-has-children {

}

.dropdown-menu {
  border: none;
  border-radius: 0px;
}

.menu-item-has-children:hover  .dropdown-menu {
    display: block;
    position: absolute;
}



#navigation-menu {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row ;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row ;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-top: 2px solid #0F4155;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.navbar-header{
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#navigation-menu li{
  padding: 5px 15px 5px 15px !important;
  text-transform: uppercase;
  color: #3A3A3A;
}

.btn-type1{
  padding: 1em 1.4em 1em 1.4em;
  border-radius: 20px;
  background-color: #0F4155;
  color: #ffffff;
  border-style: none;
}
.btn-type2{
  padding: 1em 1.4em 1em 1.4em;
  border-radius: 20px;
    border: 2px solid #0F4155;
  background-color: #ffffff;
}
.custom-logo{
  width: 150px;
}


@media and screen (max-width: 980px) {

.active{
  border-top: 2px solid #FCB123;
  z-index: 999;
}
}

a:visited {
    color: #3A3A3A;
}

a:hover {

}

@media screen and (max-width: 780px) {

}

.navbar-toggler>.close {
    display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}


#menu-menu-1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
}

#bs-menu .collapse {
  display: block;
}

#bs-menu .navbar-collapse {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.navbar  {
  background-color: #fff;
-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.navbar-light .navbar-toggler {
    color: inherit;
    border: none;
}

.hamburger-icon {
  width: 35px;
  margin: 4px 0px 0px 0px;
  background: #0F4155;
  height: 5px;
  display: block;
  border-radius: 2px;
}

#bs-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: normal;
            -ms-flex-align: normal;
                align-items: normal;
}

.logo-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}


/* footer */

.bg-color {
      background-color: #0F4155;
}

#colophon .menu-item a {
  color: #fff;
}

#colophon .menu-item {
  margin-bottom: 10px;
  margin-top: 10px;
}

#colophon h4 {
  color: #fff;
}

.textwidget p {
  color: #fff;
}

.site-info {
  margin-bottom: 50px;
}

.site-end p {
  color: #fff;
opacity: 0.5;
}

#colophon .menu  {
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 20px;
}

#colophon .textwidget {
  margin-top: 20px;
}

#colophon span {
  width: 170px;
    /* height: 193px; */
    background: #fff;
    height: 2px;
    opacity: 0.2;
    display: block;
    margin-bottom: 10px;

    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: 90px;
}


.span-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

#colophon .site-info .col-lg-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;

}

#footer-sidebar1 {
      border-right: 2px solid rgba(255, 255, 255, 0.15);
}

#footer-sidebar2 {
    border-right: 2px solid rgba(255, 255, 255, 0.15);
}

#footer-sidebar3 {
    border-right: 2px solid rgba(255, 255, 255, 0.15);
}

.social-media-icons img {
  height: 25px;
  width: auto;
  margin: 10px;
}

@media screen and (max-width: 933px){
  #footer-sidebar1 {
        border:none;
  }

  #footer-sidebar2 {
          border:none;
  }

  #footer-sidebar3 {
          border:none;
  }

}



/* 404 */

.error404 .site-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.error404 .page-header h1 {
  font-size: 150px;
  margin-bottom: 20px;
}

.btn-typ3 {
background-color: #FCB123;
}

.error404 .call-btn .btn-type1 {
      padding: 1em 2.4em 1em 2.4em;
          margin: 10px;
          margin-bottom: 100px;
}

@media screen and (max-width: 980px) {

  #menu-menu-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    margin-left: 0;
    }


}


@media screen and (max-width: 980px ){
    #bs-menu .navbar-collapse, .user-btn{
      display: none;

    }


}


@media screen and (max-width:980px ){
    .open {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }


}


@media screen and (min-width: 988px) {
  #navbar-toggler {
    display: none;
  }

  #bs-menu {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
