@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Source+Sans+Pro:400,600');



/* Boady  */
body {
  background-color: #F7F7F7;
font-family: 'Source Sans Pro', sans-serif;
}


a {
  color: #0F4155;
font-family: 'Source Sans Pro', sans-serif;
}


a:hover {
  text-decoration: none;
  opacity: 0.8;
}



/* Text heading og p */

h1, h2, h3, h4, h5, h6 {
  font-family: open sans, sans-serif;;
  font-weight: 900;
  color: #3A3A3A;
}


p, label {
font-family: 'Source Sans Pro', sans-serif;
font-size: 16px;
color: #3A3A3A;
}



.top-offset-15 {
  margin-top: 15px;
}

.top-offset-30 {
  margin-top: 30px
}

.top-offset-40 {
  margin-top: 40px
}

.top-offset-50 {

  margin-top: 50px;

}


.top-offset-100 {

  margin-top: 100px;

}


.top-padding-15 {
  padding-top: 15px;
}

.top-padding-30 {
  padding-top: 30px
}

.top-padding-40 {
  padding-top: 40px
}

.top-padding-50 {

  padding-top: 50px;

}

.top-padding-100 {

  padding-top: 100px;

}



/* Buttons */

.jw-btn-primary {
  padding: .6em 1em .4em;
  border-radius: 200px;
  line-height: 1.5;
  border-color: #288791;
  background: #288791;
  width: 150px;
}

.jw-btn-primary-cta {
  padding: 1.2em 2em;
  border-radius: 200px;
  line-height: 1.5;
  border-color: #FCB123;
  background: #FCB123;
  width: 170px;
  color: #ffffff;
}


/* Input main style */

input:focus {
  outline: none;
}


/* Heading overline */

.overline {
width: 120px;
background: #FCB123;
height: 5px;
display: block;
margin-bottom: 10px;
}

.heading-white{
  color: #ffffff;
}
