.top-offset-50 {

  margin-top: 50px;

}


#mc4wp-form-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  text-align: center;
}

#mc4wp-form-1 h2,h5 {
  color: white;

}



#mc4wp-form-1 input {
border-radius: 200px;
padding: 3px;
border-style: none;
height: 50px;
width: 300px;
}


#mc4wp-form-1 .input-na {
z-index: 5;
border-style: none;
padding: 3px;
border-left: 1px solid lightgray;
}


#mc4wp-form-1 .input-se {
  color: #ffff;
text-align: right;
  padding: .6em 1em .4em;
  border-radius: 200px;
  line-height: 1.5;
      border-color: #288791;
      background: #288791;
      margin: -23px;
      z-index: -9;

}
