


#mc4wp-form-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  text-align: center;
}



#mc4wp-form-1 .input-fi {
margin-top: 30px;

}

#mc4wp-form-1 span {
  width: 120px;
background: #FCB123;
height: 5px;

display: block;
margin-bottom: 10px;
}


#mc4wp-form-1 h2,h5 {
  color: white;

}

#mc4wp-form-1 h2 {
  font-size: 3rem;
}


#mc4wp-form-1 h5 {
  font-size: 1.5rem;

}

#mc4wp-form-1 input {
  border-radius: 200px;
  padding: 3px;
  border-style: none;
  height: 50px;
  width: 300px;

}



#mc4wp-form-1 .input-em {
  padding-left: 30px;

}

#mc4wp-form-1 .input-na {
  z-index: 5;
  border-style: none;
  padding: 3px;
  border-left: 1px solid rgba(148, 151, 153, 0.2);
  padding-left: 30px;
margin-left: -50px;
    border-radius: 0px;
}


#mc4wp-form-1 .input-se {
  color: #ffff;

  padding: .6em 1em .4em;
  border-radius: 200px;
  line-height: 1.5;
  border-color: #288791;
  background: #288791;
  width: 150px;
  z-index: -9;
  margin-left: -50px;

}


.cat-link h3 a {
  padding: 50px;

}

.cat-link h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}




/* registering plugin styling  */



.um-page-register .heading h1 {
  margin-top: 0px;
}

.um-field-area {
      margin-bottom: 20px;
}

.um-register {
  margin: 0px !important;
}




.um-148.um input[type=submit].um-button {

    background: #288791 !important ;
}

.um-field-area input {
color: #666;
border-radius: 100px !important;
height: 50px !important;
  border: none !important;
}


.um-148.um .um-form input[type=text], .um-148.um .um-form input[type=tel], .um-148.um .um-form input[type=password], .um-148.um .um-form textarea {
    color: #666;
    height: 50px !important;
    border: none !important;
}
.um-half .um-button {
  border-radius: 100px !important;
  border: none !important;
}


.um-148.um .um-button {
    border-radius: 100px !important;
    border: none !important;
}

.um-field-area input:focus {
  border: none !important;
}

.um-field-label {
  display: none !important;
}


/* Post taxonomy tips tricks  */


.cat-link-single {
  margin-bottom: 50px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.cat-link-single:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cat-link-single img {
  border-radius: 200px;
      width: 230px;
      height: 230px;
      -o-object-fit: cover;
         object-fit: cover;
}


.pos-rel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.post-ab {
  position: absolute;
  color: #fff;
  z-index: 10;
}

.overlay-col {
  background-color: rgba(135, 205, 185, 0.39);
    width: 230px;
    border-radius: 200px;
    height: 230px;
    z-index: 10;
    position: absolute;
}
